/* FILTER */

input {
  height: 1.75em;
  border-radius: 0.5em;
  outline: 0;
  padding: 0.25em 0.5em;
  border: 1px solid var(--text-muted);
}

.sort {
  position: absolute;
  left: 724px;
  transform: translateX(-100%);
  bottom: 0.25em;
}

@media screen and (min-width: 1390px) {
  .sort {
    left: 1094px;
  }
}

/* MODAL */

.modal-blur {
  z-index: 10;
  position: fixed;
  inset: -100vh -100vw;
  width: 200vw;
  height: 200vh;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
}

.modal {
  gap: 1em;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 480px;
  z-index: 100;
  position: fixed;
  background-color: var(--bg-muted);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 32px;
}

ul.modal-footer svg {
  margin-right: 0.5em;
}

/* BUTTON */

.lang-button div {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  margin-right: 0.25em;
}

.topic {
  text-align: right;
}

.topic-button,
.topic span {
  display: inline-flex;
  color: var(--link);
  fill: var(--link);
  border: 1px solid var(--link);
  border-radius: 1em;
  padding: 0.25em 0.5em;
  margin-bottom: 0.25em;
  font-weight: bold;
  cursor: pointer;
}

.topic-button:hover,
.topic span:hover {
  color: white;
  fill: white;
  background-color: var(--link);
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  inset: 1em;
  width: 240px;
}

.summary svg {
  margin-right: 0.25em;
}

/* REPOBOX */

.repos {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}

.repo-box {
  width: 320px;
  border: 1px solid var(--text-muted);
  border-radius: 0.5em;
  padding: 1em;
}

.repo-box > span {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.repo-box .public {
  height: fit-content;
  color: var(--text-muted);
  border: 1px solid var(--text-muted);
  border-radius: 1em;
  font-size: 0.75em;
  padding: 0.25em 0.5em;
}
